In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
data1 = pd.read_excel('meal_order_detail.xlsx',sheet_name='meal_order_detail1')
data2 = pd.read_excel('meal_order_detail.xlsx',sheet_name='meal_order_detail2')
data3 = pd.read_excel('meal_order_detail.xlsx',sheet_name='meal_order_detail3')

In [ ]:
data = pd.concat([data1,data2,data3],axis=0)  
data.head(5)

In [ ]:
data.dropna(axis=1,inplace=True)
data.info()

In [ ]:
round(data['amounts'].mean(),3)  #Method 1: Pandas built-in function
round(np.mean(data['amounts']),3)  #Method 2: numpy function processing

In [ ]:
dishes_count = data['dishes_name'].value_counts()[:10]
print(dishes_count)

In [ ]:
dishes_count.plot(kind='bar',fontsize=16)
for x,y in enumerate(dishes_count):
    plt.text(x,y+2,y,ha='center',fontsize=12)#Display quantity and center point

In [ ]:
data['total_amounts'] =data['counts']*data['amounts']  #Calculate the total consumption of a single dish
dataGroup = data[['order_id','counts','amounts','total_amounts']].groupby(by='order_id')
Group_sum = dataGroup.sum()  #Group sum
sort_counts = Group_sum.sort_values(by='counts',ascending=False)
sort_counts

In [ ]:
sort_counts['counts'][:10].plot(kind='bar',fontsize=16)
plt.xlabel('Order ID')
plt.ylabel('Number of dishes ordered')
plt.title('Top 10 order IDs by number of dishes ordered')

In [ ]:
sort_total_amounts = Group_sum.sort_values(by='total_amounts',ascending=False)
sort_total_amounts

In [ ]:
sort_total_amounts['total_amounts'][:10].plot(kind='bar')
plt.xlabel('Order ID')
plt.ylabel('Consumption amount')
plt.title('Top 10 by spending amount')

In [ ]:
data['hourcount'] = 1 # New column, used as a counter
data['time'] = pd.to_datetime(data['place_order_time']) #Convert time into date type for storage
data['hour'] = data['time'].map(lambda x:x.hour)
gp_by_hour = data.groupby(by='hour').count()['hourcount']
gp_by_hour

In [ ]:
gp_by_hour.plot(kind='bar')
plt.xlabel('Hour')
plt.ylabel('Number of dishes ordered')
plt.title('Relationship between the number of dishes ordered and the hours')

In [ ]:
data['weekcount'] = 1
data['weekday'] = data['time'].map(lambda x:x.weekday())
gp_by_weekday = data.groupby(by='weekday').count()['weekcount']
gp_by_weekday

In [ ]:
gp_by_weekday.plot(kind='bar')
plt.xlabel('Week')
plt.ylabel('Number of dishes ordered')
plt.title('Relationship between the number of dishes ordered and the day of the week')